.projectSection {
  height: 100%;
  background: #12263A;
  display: flex;
  padding-top: 15rem;
}

.projectSection .projectContainer {
  width: 80%;
  margin: auto;
}

.projectSection .projectContainer .projectSmallHeadingContainer {
  display: flex;
  align-items: center;
}

.projectSection .projectContainer .projectSmallHeadingContainer .smallProjectHeading {
  margin: 0;
  color: #f4f4f9;
  font-size: 2rem;
}

.projectSection .projectContainer .projectSmallHeadingContainer .smallProjectHeadingLine {
  width: 10%;
  text-align: left;
  margin-left: 1.5rem;
  margin-right: auto;
}

.projectSection .projectContainer .bigProjectHeading {
  margin: 0;
  padding-top: 1rem;
  color: #f4f4f9;
  font-size: 5rem;
}

.projectSection .projectContainer .projectItemsContainer {
  display: flex;
  flex-direction: column;
}

.projectSection .projectContainer .projectItemsContainer .projectItems {
  margin: 8rem 0rem;
}

.projectSection .projectContainer .projectItemsContainer .projectItems .projectImageContainer {
  width: 100%;
}

.projectSection .projectContainer .projectItemsContainer .projectItems .projectImageContainer img {
  width: 100%;
}

.projectSection .projectContainer .projectItemsContainer .projectItems .projectTitle {
  color: #f4f4f9;
  font-size: 3rem;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
}

.projectSection .projectContainer .projectItemsContainer .projectItems .projectDescription {
  color: #f4f4f9;
  font-size: 1.6rem;
  line-height: 1.5;
  font-weight: 300;
}

.projectSection .projectContainer .projectItemsContainer .projectItems .projectLanguages {
  color: #f4f4f9;
  font-size: 1.6rem;
  line-height: 1.5;
  font-weight: 300;
}

.projectSection .projectContainer .projectItemsContainer .projectItems .projectButtonsContainer {
  padding-top: 2rem;
}

.projectSection .projectContainer .projectItemsContainer .projectItems .projectButtonsContainer a {
  padding: 1rem 2rem;
  background: #7ae7c7;
  color: #000;
  text-decoration: none;
  margin: 1rem;
  font-size: 1.2rem;
  border-radius: 0.4rem;
}

.projectSection .projectContainer .projectItemsContainer .projectItems .projectButtonsContainer a:hover {
  background: #f8c630;
}

@media screen and (min-width: 768px) {
  .projectSection {
    padding-top: 10rem;
    height: 100%;
  }
  .projectSection .projectContainer {
    width: 70%;
  }
  .projectSection .projectContainer .projectItemsContainer .projectItems {
    display: flex;
    flex-direction: row;
    align-content: space-between;
    justify-content: space-between;
    margin: 4rem 0rem;
  }
  .projectSection .projectContainer .projectItemsContainer .projectItems .projectImageContainer {
    width: 50%;
  }
  .projectSection .projectContainer .projectItemsContainer .projectItems .projectImageContainer img {
    width: 100%;
  }
  .projectSection .projectContainer .projectItemsContainer .projectItems .projectTitle {
    margin-block-start: 0em;
  }
  .projectSection .projectContainer .projectItemsContainer .projectItems .paragraph {
    width: 50%;
    padding: 0rem 5rem;
  }
}
/*# sourceMappingURL=style.module.css.map */