@import "../../variables/variables.scss";

.heroContainer {
    height: 100vh;
    background: $gray;
    position: relative;

    .heroSection {

        display: flex;
        align-content: center;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        height: 90vh;

        .heroTextContainer {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-content: center;
            width: 75%;

            #heroTextAnimationHeading {
                color: $aquamarine;
                font-weight: $bold;
                letter-spacing: 0.2rem;
                font-size: 3.8rem;
                margin: 0;

                &::after {
                    content: '';
                    position: relative;
                    width: 1px;
                    right: -5px;
                    height: 90%;
                    border-right: 2px solid $aquamarine;
                    animation: blink 1s linear infinite;
                }
            }

            #heroTextHeadingTwo {
                color: $offWhite;
                font-weight: $medium;
                letter-spacing: 0.1rem;
                font-size: 2.3rem;
                margin: 0;
            }

            .heroCtaBtnContainer {
                margin-top: 3rem;

                #heroCtaBtn {
                    color: $offWhite;
                    border: 0.1rem solid $aquamarine;
                    padding: 1.25rem 1.75rem;
                    line-height: 1;
                    font-size: 1rem;
                    border-radius: 0.2rem;
                    margin-top: 1rem;
                    text-align: center;
                    font-size: 1.6rem;
                    text-decoration: none;

                    &:hover,
                    &:focus {
                        box-shadow: inset 0 -3.25em 0 0 $aquamarine;
                        color: $offWhite;
                        transition: 0.35s;
                        border-color: $aquamarine;
                        text-decoration: none;
                    }
                }
            }
        }

        .heroImageLogo {
            width: 50%;
            margin-top: 5rem;
            margin-right: auto;
            margin-left: 4rem;
            img {
                width: 100%;

            }
        }

        .waveContainer {
            position: absolute;
            bottom: -4px;
            width: 100%;
        }

        /* #waveImage{
        background: $gray;
    }
    */
    }
}

@keyframes blink {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


@include media-md {
    .heroContainer {

        .heroSection {

            display: flex;
            align-content: center;
            justify-content: center;
            margin: auto;
            width: 75%;
            height: 80vh;

            .heroTextContainer {
                width: 85% !important;

                #heroTextAnimationHeading {
                    font-size: 4rem;
                }

                #heroTextHeadingTwo {
                    font-size: 4rem;
                }
            }

            .heroImageLogo {
                width: 35%;
                margin: 7rem auto 0 3rem; 

                img {
                    width: 100%;

                }
            }
        }
    }
}

@include media-lg {
    .heroContainer {

        .heroSection {

            display: flex;
            align-content: center;
            justify-content: center;
            flex-direction: row;

            .heroTextContainer {
                width: 50% !important;
                height: 80vh;

                #heroTextAnimationHeading {
                    font-size: 5.5rem;
                }

                #heroTextHeadingTwo {
                    font-size: 5.5rem;
                }
            }
            .heroImageLogo {
                width: 30%;
                margin: 7rem 0 0 0; 

                img {
                    width: 100%;

                }
            }
        }
    }
}

@include media-xl {
    #heroCtaBtn {
        //width: 20%;
        padding: 1rem 3rem;
    }
}