@import "../../variables/variables.scss";

.contactSection {
    height: 100%;
    background: #12263A;
    display: flex;
    padding-top: 5rem;

    .contactContainer {
        width: 80%;
        margin: auto;

        .contactSmallHeadingContainer {

            display: flex;
            align-items: center;

            .smallContactHeading {
                margin: 0;
                color: $offWhite;
                font-size: 2rem;
            }

            .smallContactHeadingLine {
                width: 10%;
                text-align: left;
                margin-left: 1.5rem;
                margin-right: auto;
            }
        }

        .bigContactHeading {
            margin: 0;
            padding-top: 1rem;
            color: $offWhite;
            font-size: 5rem;
        }

        .contactMeContainer {

            display: flex;
            flex-direction: column;
            width: 100%;
            margin-left: auto;
            margin-right: auto;
            margin-top: 3rem;

            .contactHeaderNew {
                text-align: center;
                font-size: 4rem;
                color: $offWhite;
                margin-block-end: 0.5rem;
            }

            .contactParagraph {
                text-align: center;
                font-size: 1.8rem;
                color: $offWhite;
                line-height: 1.5;
            }

            .contactButtonContainer {
                
                display: flex;
                justify-content: center;

                .contactButton {
                    text-align: center;
                    padding: 1.5rem 4rem;
                    border: 0.15rem solid $aquamarine;
                    color: $offWhite;
                    font-size: 1.4rem;
                    margin-top: 1rem;
                    border-radius: 0.4rem;
                    text-decoration: none;

                    &:hover,
                    &:focus {
                        box-shadow: inset 0 -4.25em 0 0 $aquamarine;
                        color: $offWhite;
                        transition: 0.35s;
                        border-color: $aquamarine;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}


@include media-md {
    .contactSection {
        height: 100%;
        display: flex;
        padding-top: 10rem;
        padding-bottom: 5rem;

        .contactContainer {
            width: 70%;

            .contactMeContainer {

                width: 55%;
                margin-top: 5rem;

                .contactHeaderNew {
                    text-align: center;
                    font-size: 4rem;
                    color: $offWhite;
                }

                .contactParagraph {
                    text-align: center;
                    font-size: 1.8rem;
                    color: $offWhite;
                    line-height: 1.5;
                }
            }
        }
    }
}